.popup{
  width: 25%;
  min-width: 250px;
  height: 25%;
  min-height: 200px;
  background-color: white;
  border-radius: 10px ;
  padding: 10px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

  .popup_btn_confirm, .popup_btn_cancle{
    width: 80%;
    height: 20%;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out;
    box-sizing: border-box;
  }
  
  .popup_btn_confirm {
    background-color: #17A2B8;
    color: white;
    border: none;
  }
  
  .popup_btn_confirm:hover {
    background-color: #138496;
    transform: scale(1.05);
  }
  
  .popup_btn_cancle {
    background-color: white;
    color: red;
    border: 1px solid red;
  }
  
  .popup_btn_cancle:hover {
    background-color: #f8d7da;
    transform: scale(1.05);
  }
